# Dependencias
node_modules/
**/node_modules/

# Builds y compilados
dist/
build/
.next/
out/

# Archivos de configuración locales
.env
*.env
*.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
